.idea

config
!config/.gitkeep
!config/storage/.gitkeep

app/file/test/file/tmp
app/file/test/tmp
!app/file/test/tmp/.gitkeep

app/user/test/tmp
!app/user/test/tmp/.gitkeep

# Fresh build directory
interface/_fresh/
