@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Segmented button style */

  .btn-segmented .segmented-item {
    margin-right: -1px;
    overflow: hidden;
  }

  .btn-segmented .segmented-item::after {
    border-radius: 0px;
  }

  .btn-segmented .segmented-item:first-child {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }

  .btn-segmented .segmented-item:last-child {
    margin-right: 0px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }

  .btn-segmented .check-icon {
    display: none !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    line-height: 1.25 !important;
  }

  .segmented-item input:checked + label > span {
    display: inline-flex !important;
  }

  /* Input style */

  .peer:focus ~ .peer-focus\:left-4 {
    left: 1rem;
  }

  .peer:focus ~ .peer-focus\:left-14 {
    left: 3.5rem;
  }

  .peer:focus ~ .peer-focus\:left-12 {
    left: 3rem;
  }

  .peer:focus ~ .peer-focus\:-translate-y-3\.5 {
    --tw-translate-y: -0.875rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .peer:focus ~ .peer-focus\:-translate-y-3 {
    --tw-translate-y: -0.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .peer:focus ~ .peer-focus\:-translate-y-7 {
    --tw-translate-y: -1.75rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .peer:focus ~ .peer-focus\:scale-75 {
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .peer:focus ~ .peer-focus\:bg-neutral-10 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 251 254 / var(--tw-bg-opacity));
  }

  .peer:focus ~ .peer-focus\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .peer:focus ~ .peer-focus\:text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(103 80 164 / var(--tw-text-opacity));
  }

  .progress-bar-determinate > * {
    transition: width 0.3s cubic-bezier(0.4, 0, 1, 1);
  }

  .progress-bar-indeterminate {
    -webkit-animation: start 0.3s ease-in;
    animation: start 0.3s ease-in;
  }

  .progress-bar-indeterminate > * {
    transition: transform 0.2s linear;
  }

  .progress-bar-indeterminate > *:first-child {
    -webkit-animation: grow 2.5s infinite, moveBar1 2.5s infinite;
    animation: grow 2.5s infinite, moveBar1 2.5s infinite;
  }

  .progress-bar-indeterminate > *:last-child {
    -webkit-animation: grows 2.5s infinite, moveBar2 2.5s infinite;
    animation: grows 2.5s infinite, moveBar2 2.5s infinite;
  }

  @-webkit-keyframes grow {
    0% {
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      transform: scaleX(0.1);
    }

    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }

    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }

    100% {
      transform: scaleX(0.1);
    }
  }

  @keyframes grow {
    0% {
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      transform: scaleX(0.1);
    }

    36.6% {
      -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
      transform: scaleX(0.1);
    }

    69.15% {
      -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
      transform: scaleX(0.83);
    }

    100% {
      transform: scaleX(0.1);
    }
  }

  @-webkit-keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }

    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
      animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }

    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
      animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }

    100% {
      left: 95.44444%;
    }
  }

  @keyframes moveBar1 {
    0% {
      left: -105.16667%;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }

    20% {
      left: -105.16667%;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
      animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    }

    69.15% {
      left: 21.5%;
      -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
      animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    }

    100% {
      left: 95.44444%;
    }
  }

  @-webkit-keyframes grows {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }

    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }

    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }

    100% {
      transform: scaleX(0.1);
    }
  }

  @keyframes grows {
    0% {
      -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
      transform: scaleX(0.1);
    }

    19.15% {
      -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
      transform: scaleX(0.57);
    }

    44.15% {
      -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
      transform: scaleX(0.91);
    }

    100% {
      transform: scaleX(0.1);
    }
  }

  @-webkit-keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
      animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }

    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
      animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }

    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
      animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }

    100% {
      left: 117.38889%;
    }
  }

  @keyframes moveBar2 {
    0% {
      left: -54.88889%;
      -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
      animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    }

    25% {
      left: -17.25%;
      -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
      animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    }

    48.35% {
      left: 29.5%;
      -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
      animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    }

    100% {
      left: 117.38889%;
    }
  }

  @-webkit-keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 20px;
      opacity: 1;
    }
  }

  @keyframes start {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 20px;
      opacity: 1;
    }
  }
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('fonts/material-symbols.woff2') format('woff');
}

@layer base {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}
